include AUTHORS
include README.rst
include LICENSE
recursive-include fluent_comments/locale *.po *.mo
recursive-include fluent_comments/templates *.html *.txt
recursive-include fluent_comments/static *.css *.gif *.js
global-exclude .DS_Store
global-exclude Thumbs.db
